.container {
  align-items: center;
  background-color: var(--title);
  color: var(--main-color);
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}

.container input , select {
  border: none;
  color: var(--main-text);
  margin-left: 8px;
  text-align: center;
}

.container select {
  background-color: var(--main-element);
  outline: none;
  padding: 2px;
}

.container input {
  background-color: var(--main-element);
  outline: none;
  padding: 8px;
}

.container button {
  background-color: var(--button);
  border: none;
  box-shadow: 1px 1px 1px 1px var(--main-text);
  color: var(--button-text);
  padding: 8px;
  transition: 0.2s;
}

.container button:hover {
  background-color: var(--button-hover);
  box-shadow: none;
  cursor: pointer;
}

.container button:active {
  background-color: var(--button);
}
