.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.container h1 {
  margin-left: 10px;
}

.container div {
  display: flex;
  margin-right: 10px;
}

.container span {
  margin: 0 10px;
}
