.container {
  border-collapse: collapse;
  margin: 10px auto;
  width: 95%;
}

.container tbody {
  border: 1px solid var(--title);
}


.container th {
  background-color: var(--subtitle);
  color: var(--main-color);
  height: 40px;
}

.container td {
  height: 30px;
  text-align: center;
}

.container tr:nth-child( 2n+1 ) {
  background-color: var(--main-element);
}

.incon:hover {
  color: red;
  cursor: pointer;
  font-size: large;
  transition: 0.3s;
}
